body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  background: #F0F0F0;
}
::-webkit-scrollbar-thumb {
  background: #d0c0c0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(200,70,200,0.1);
}
::-webkit-scrollbar {
  width: 10px;
  background: #F0F0F0;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  display: inline block;
  border-width: 0px 0px 0px 2px; /*top left bottom right */
  border-style: solid;
  border-color: #d0c0c0;
}
