body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #d0c0c0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d0a0c0;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d0a0c0;
  border-radius: 10px;
  max-height: 50%;
  height: 50%;
}
