body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 250px;
  margin-left: 50px;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  margin-left: 50px;
  font-weight: bold;
  color: black;
}

.btn-register {
  margin-top: 5px;
  margin-left: 50px;
  //border: 2px solid var(--theme-top-bar-write-color, rgb(100, 100, 40));
  outline: invert;
  border-radius: 5px;
  width: 140px;
  height: 36px;
  background-color: rgb(20, 20, 20);
  color: beige;
}

.btn-login {
  margin-top: 5px;
  margin-left: 30px;
  outline: invert;
  border-radius: 5px;
  width: 140px;
  height: 36px;
  background-color: rgb(180, 55, 55);
  color: beige;
}

.btn-login:hover {
  border: 2px solid #e93333;
  background: 0 0;
  color: #fff;
}

.btn-register:hover {
  border: 2px solid #e93333;
  background: 0 0;
  color: #fff;
}
